<!DOCTYPE html>
<html lang="en" class="scroll-smooth focus:scroll-auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAWS Capital</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <!-- header -->
    <header class="">
        <nav class="z-10 w-full absolute md:fixed ">
            <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
                <div class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative ">
                    <div class="relative z-20 w-full flex justify-center md:justify-between lg:w-max md:px-0 ">
                        <a href="#" aria-label="logo" class="flex space-x-2 items-center ">
                            <img src="./asset/img/lg_raws_white.svg" class="h-8" alt="">
                        </a>

                    </div>
                    <div aria-hidden="true"
                        class="fixed z-10 inset-0 h-screen w-screen bg-white/70 backdrop-blur-2xl origin-bottom scale-y-0 transition duration-500 peer-checked:origin-top peer-checked:scale-y-100 lg:hidden dark:bg-gray-900/70 ">
                    </div>
                    <div class=" rounded-full p-2 bg-slate-800  my-auto  hidden md:block">
                        <ul class="flex space-x-4 px-4 font-primary text-white font-medium text-sm">
                            <li>
                                <a href="#aboutUs" class="hover:text-blue-500 transition-colors">About Us</a>
                            </li>
                            <li>
                                <a href="#whyChooseUs" class="hover:text-blue-500 transition-colors">Why Choose Us</a>
                            </li>
                            <li>
                                <a href="#aboutUs" class="hover:text-blue-500 transition-colors">Our Services</a>
                            </li>
                            <li>
                                <a href="#aboutUs" class="hover:text-blue-500 transition-colors">Our Philosophy</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!-- end Header -->



    <!-- hero -->
    <section class="flex w-full justify-center bg-gradient-to-t from-slate-900 to-slate-700 h-screen">
        <div class="max-w-screen-xl w-full p-4 my-auto text-center">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold font-primary text-5xl md:text-6xl xl:text-7xl">
                    Building Wealth
                    with Confidence
                </h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300 font-primary font-light">Risk-Adjusted Wealth Strategies
                    for a Secure Financial
                    Future</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a href="#"
                        class="relative background-primary hover:scale-105 transition-all rounded-full flex h-11 w-full items-center justify-center px-6  sm:w-max">
                        <span class="relative text-base font-semibold text-primary dark:text-white">Start Investing
                            Today</span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- hero -->

    <section class=" bg-slate-900 flex w-full justify-center">
        <div class=" max-w-screen-xl w-full space-y-20 pb-20">

            <!-- about us -->
            <div id="aboutUs">
                <div class="max-w-7xl py-20 mx-auto px-6 md:px-12 xl:px-6">
                    <i data-lucide="atom" class="text-blue-500 bg-clip-text inline-block"></i>
                    <div
                        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
                        <div class="md:5/12 lg:w-1/2">
                            <img src="./asset/img/img_about.png" alt="" class="w-full">
                        </div>
                        <div class="md:7/12 lg:w-1/2">
                            <h2
                                class="text-3xl font-bold background-primary inline-block text-transparent bg-clip-text md:text-4xl ">
                                About Us
                            </h2>
                            <p class="my-8 font-primary font-light text-gray-600 dark:text-gray-300">
                                RAWS Capital is a pioneering Indonesian firm led by a cryptocurrency expert with a
                                strong background in the technology era. With a mission to enhance the global exposure
                                of cryptocurrency, we combine deep market expertise with a commitment to transparency,
                                compliance, and positive social impact.
                            </p>

                            <p class="my-8 text-gray-600 font-primary dark:text-gray-300">
                                Our business model is simple yet revolutionary:
                            </p>
                            <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
                                <div class="mt-8 flex gap-4 md:items-center">
                                    <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                                        <i data-lucide="hand-coins" class="m-auto text-blue-500"></i>
                                    </div>
                                    <div class="w-5/6">
                                        <h4
                                            class="font-semibold font-primary text-lg background-primary inline-block text-transparent bg-clip-text">
                                            Profit
                                            Sharing</h4>
                                        <p class="text-gray-500 font-primary font-light dark:text-gray-400">We take only
                                            20% of profit from
                                            every successful trade.</p>
                                    </div>
                                </div>
                                <div class="pt-4 flex gap-4 md:items-center">
                                    <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">
                                        <i data-lucide="users" class="text-blue-500 m-auto"></i>
                                    </div>
                                    <div class="w-5/6">
                                        <h4
                                            class="font-semibold font-primary text-lg background-primary inline-block text-transparent bg-clip-text">
                                            Social
                                            Commitment</h4>
                                        <p class="text-gray-500 font-primary font-light dark:text-gray-400">15% of our
                                            profit goes to
                                            BenihBaik.com, a platform where you can track every donation in real-time.
                                        </p>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <div class="p-4 background-primary rounded-lg">
                                        <p class="font-primary font-light text-center text-white">Our mission is not
                                            just
                                            about growing
                                            wealth but
                                            giving back to those in need
                                            during economic downturns, ensuring that our success creates meaningful
                                            change.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end about us -->

            <!-- Why Choose RAWS Capital? -->
            <div id="whyChooseUs">
                <div>
                    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
                        <div class="md:w-2/3 lg:w-1/2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-secondary">
                                <path fill-rule="evenodd"
                                    d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
                                    clip-rule="evenodd"></path>
                            </svg>

                            <h2 class="my-8 text-2xl font-primary font-bold text-gray-700 dark:text-white md:text-4xl">
                                Why Choose RAWS Capital?
                            </h2>
                            <p class="text-gray-600 dark:text-gray-300 font-primary  font-light">To maximize wealth
                                creation through
                                cryptocurrency markets while using the proceeds to support communities in need,
                                fostering economic resilience and empowerment.</p>
                        </div>
                        <div
                            class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
                            <div
                                class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                                <div class="relative space-y-8 py-12 p-8">

                                    <div class="space-y-2">
                                        <h5
                                            class="text-xl font-primary font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                                            Expert-Led Leaderships
                                        </h5>
                                        <p class="text-gray-600 font-primary font-light dark:text-gray-300">
                                            Led by a prominent cryptocurrency and technology expert, we bring
                                            unparalleled knowledge and experience to the table.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                                <div class="relative space-y-8 py-12 p-8">

                                    <div class="space-y-2">
                                        <h5
                                            class="text-xl font-primary font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                                            Full Transparency
                                        </h5>
                                        <p class="text-gray-600 font-primary font-light dark:text-gray-300">
                                            Every funder’s capital is segregated, and daily reports are sent to ensure
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                                <div class="relative space-y-8 py-12 p-8">

                                    <div class="space-y-2">
                                        <h5
                                            class="text-xl font-semibold font-primary text-gray-700 dark:text-white transition group-hover:text-secondary">
                                            Regulatory Compliance
                                        </h5>
                                        <ul
                                            class="text-gray-600 dark:text-gray-300 font-primary font-light list-outside list-disc">
                                            <li>BAPPEBTI (Commodity Futures Trading Regulatory Agency)</li>
                                            <li>OJK (Financial Services Authority)</li>
                                            <li>BI (Bank Indonesia).</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                                <div
                                    class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800">

                                    <div class="space-y-2">
                                        <h5
                                            class="text-xl font-primary font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                                            Simple and Ethical Business Model
                                        </h5>
                                        <ul
                                            class="text-gray-600 font-primary font-light dark:text-gray-300 list-outside list-disc">
                                            <li>No hidden fees; we only take 20% of profits from successful trades.</li>
                                            <li>Our contributions to BenihBaik.com can be tracked live, ensuring
                                                transparency and trust in our social mission.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Why Choose RAWS Capital? -->

            <!-- Our Philosophy  -->
            <div id="OurPhilosophy">
                <div class="max-w-7xl py-20 mx-auto px-6 md:px-12 xl:px-6">
                    <div
                        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">

                        <div class="md:7/12 lg:w-1/2">
                            <h2
                                class="text-3xl font-bold background-primary inline-block text-transparent bg-clip-text md:text-4xl ">
                                Our Philosophy
                            </h2>
                            <p class="my-8 font-primary text-lg font-light text-gray-600 dark:text-gray-300">
                                We believe in growing wealth responsibly while addressing social challenges. Our
                                approach balances bold market opportunities with thoughtful risk management, ensuring
                                long-term stability and impact.
                            </p>
                        </div>

                        <div class="md:5/12 lg:w-1/2">
                            <img src="https://images.pexels.com/photos/7567231/pexels-photo-7567231.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="" class="w-full object-cover aspect-square rounded-2xl ">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Our Philosophy  -->

            <!-- How we work -->
            <div id="howWeWork">
                <div>
                    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
                        <div class="md:w-2/3 lg:w-1/2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-secondary">
                                <path fill-rule="evenodd"
                                    d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
                                    clip-rule="evenodd"></path>
                            </svg>

                            <h2 class="my-8 text-2xl font-primary font-bold text-gray-700 dark:text-white md:text-4xl">
                                How We Work?
                            </h2>
                        </div>

                        <div class="md:flex md:space-x-3 space-y-3 space-x-0 md:space-y-0">
                            <div
                                class="group relative rounded-xl bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                                <div class="relative space-y-8 py-12 p-8">

                                    <div class="space-y-2">
                                        <h5
                                            class="text-xl font-primary font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                                            Strategic Investments
                                        </h5>
                                        <p class="text-gray-600 font-primary font-light dark:text-gray-300">
                                            Focused on high-value cryptocurrencies like Bitcoin and Solana, maximizing
                                            opportunities for success.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="group relative rounded-xl bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                                <div class="relative space-y-8 py-12 p-8">

                                    <div class="space-y-2">
                                        <h5
                                            class="text-xl font-primary font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                                            Daily Reporting
                                        </h5>
                                        <p class="text-gray-600 font-primary font-light dark:text-gray-300">
                                            Clients receive daily updates about their investments and fund performance.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="group relative rounded-xl bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                                <div class="relative space-y-8 py-12 p-8">

                                    <div class="space-y-2">
                                        <h5
                                            class="text-xl font-primary font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                                            Profit Sharing with Purpose
                                        </h5>
                                        <p class="text-gray-600 font-primary font-light dark:text-gray-300">
                                            20% profit sharing; 15% of that goes to social impact programs on
                                            BenihBaik.com.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end Why Choose RAWS Capital? -->


        </div>
    </section>


    <!-- icon lucide script -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    <!-- end icon lucide script -->
</body>

</html>